{% extends "layout.html" %}
{% block content %}
<h2> Latest Check-ins</h2>
<table class="table">
    <thead>
    <tr>
        <!-- <th scope="col">Id</th> -->
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <!-- <th scope="col">Phone Number</th> -->
        <th scope="col">Reason</th>
        <!-- <th scope="col">Cookie ID</th> -->
    </tr>
    </thead>
    <tbody>
    {% for i in Logs %}
    <tr>
        <!--  <td><a href="view/{{i.id}}">{{ i.id }}</a></td> -->
        <td>{{ i.FirstName }}</td>
        <td>{{ i.LastName }}</td>
        <!--  <td>{{ i.PhoneNumber }}</td> -->
        <td>{{ i.ReasonForVisit }}</td>
        <!--  <td>{{ i.LoginCookieID }}</td> -->
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}