{% extends "layout.html" %}
{% block content %}

{% if count == 0 %}
<div class = "center"><h2>No one is currently checked in to this building</h2></div>

{% elif count == 1 %}
<div class = "center"><h2> There is currently {{ count }} person checked in to this building</h2></div>

{% elif count > 1 %}
<div class = "center"><h2> There are currently {{ count }} people checked In to this building</h2></div>


{% endif %}
<div class = "center"><a role="button" class="btn btn-success btn-lg" href="/CheckIn">Check-In</a> <a role="button" class="btn btn-danger btn-lg" href="/CheckOut">Check-Out</a></div>
{% endblock %}