{% extends "layout.html" %}
{% block content %}
<form action="/CheckIn" method="POST">
    {% if cookie %}
    <h2>You have already Checked-in to this location.</h2>

    <h4>Previous Check-ins:</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Reason</th>
        </tr>
        </thead>
        <tbody>
        {% for i in Logs %}
        <tr>
            <td>{{ i.FirstName }}</td>
            <td>{{ i.LastName }}</td>
            <td>{{ i.PhoneNumber }}</td>
            <td>{{ i.ReasonForVisit }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h4>To create a new check-in, please check-out first.</h4>

    {% else %}
    <div class="row">
        <div class="col">
            <label for="FirstName">First Name</label>
            <input id="FirstName" type="text" class="form-control" placeholder="John"
                   name="FirstName">
        </div>
        <div class="col">
            <label for="LastName">Last Name</label>
            <input id="LastName" type="text" class="form-control" placeholder="Doe"
                   name="LastName">
        </div>
        <div class="col">
            <label for="PhoneNumber">Phone Number</label>
            <input id="PhoneNumber" type="text" class="form-control" placeholder="888-888-8888" name="PhoneNumber">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Reason">Reason for Visit</label>
            <input id="Reason" type="text" class="form-control" placeholder="Ex: Workday, Shopping, etc" name="Reason">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Check In</button>

</form>
    {% endif %}

{% endblock %}