{% extends "layout.html" %}
{% block content %}

{% if Logs %}
<h2> Check-ins for the date range listed below: </h2>
<h4> Search Range: {{ UserDateInReturn }} at {{ TimeInReturn }} to {{ UserDateOutReturn }} at {{ UserTimeOutReturn }}</h4>
<table class="table">
    <thead>
    <tr>
        <!-- <th scope="col">Id</th> -->
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Check-in Time</th>
        <th scope="col">Check-out Time</th>
    </tr>
    </thead>
    <tbody>



    {% for i in Logs %}
    <tr>
        <!--  <td><a href="view/{{i.id}}">{{ i.id }}</a></td> -->
        <td>{{ i.FirstName }}</td>
        <td>{{ i.LastName }}</td>
        <td>{{ i.CheckInTime }}</td>
        <td>{{ i.CheckOutTime }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    var tables = document.getElementsByTagName('table');
    var table = tables[tables.length - 1];
    var rows = table.rows;
    for(var i = 0, td; i < rows.length; i++){
        td = document.createElement('td');
        td.appendChild(document.createTextNode(i + 1));
        rows[i + 1].insertBefore(td, rows[i + 1].firstChild);
    }
</script>

{% else %}


<form action="/Search" method="POST" onsubmit = "return myfunction()">

    <h2>Please choose your date or time range:</h2>
    <h3>This will create a list of people who may have come in contact during the given time frame:</h3>

    <!-- If we use separate date and time fields -->
    <div class="row">
        <div class="col">
            <label for="dateStart">Date Range Start:</label>
            <input id="dateStart" type="date" class="form-control" placeholder="01/01/2020"
                   name="dateStart" min="2020-01-01" max="2021-12-31" required>
        </div>
        <div class="col">
            <label for="timeStart">Time Range Start:</label>
            <input id="timeStart" type="time" class="form-control" placeholder="00:00 AM"
                   name="timeStart" required>
        </div>
        <div class="col">
            <label for="dateEnd">Date Range End:</label>
            <input id="dateEnd" type="date" class="form-control" placeholder="12/31/2020"
                   name="dateEnd" min="2020-01-01" max="2021-12-31" required>
        </div>
        <div class="col">
            <label for="timeEnd">Time Range End:</label>
            <input id="timeEnd" type="time" class="form-control" placeholder="23:59 PM"
                   name="timeEnd" required>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
        function myfunction() {
            var startDate = document.getElementById("dateStart").value;
            var endDate = document.getElementById("dateEnd").value;
            var timeStart = document.getElementById("timeStart").value;
            var timeEnd = document.getElementById("timeEnd").value;
            if( startDate > endDate || (startDate == endDate && timeStart > timeEnd)){
                alert('The End Date and End Time cannot happen before your Start Date and Start Time');
                return false;
            } else {
                return true;
            }
        }
    </script>

    <button type="submit" class="btn btn-success">Search</button>
</form>

    {% if Logs == () %}
    <h4 style = "color:red;">Your previous search had no results</h4>
    {% endif %}


{% endif %}



{% endblock %}