{% extends "layout.html" %}
{% block content %}

<form action="/Search" method="GET">
    <h2>Please choose your date or time range:</h2>

    <!-- If we use separate date and time fields -->
    <div class="row">
        <div class="col">
            <label for="dateStart">Date Range Start:</label>
            <input id="dateStart" type="date" class="form-control" placeholder="01/01/2020"
                   name="dateStart" min="2020-01-01" max="2020-12-31">
        </div>
        <div class="col">
            <label for="dateEnd">Date Range End:</label>
            <input id="dateEnd" type="date" class="form-control" placeholder="12/31/2020"
                   name="dateEnd" min="2020-01-01" max="2020-12-31">
        </div>
        <div class="col">
            <label for="timeStart">Time Range Start:</label>
            <input id="timeStart" type="time" class="form-control" placeholder="00:00 AM"
                   name="timeStart">
        </div>
        <div class="col">
            <label for="timeEnd">Time Range End:</label>
            <input id="timeEnd" type="time" class="form-control" placeholder="23:59 PM"
                   name="timeEnd">
        </div>
    </div>

    <!-- If we use Datetime
    <div class="row">
        <div class="col">
            <label for="rangeStart">DateTime Range Start</label>
            <input id="rangeStart" type="datetime-local" class="form-control" placeholder="2020-01-01T00:00"
                   name="rangeStart">
        </div>
        <div class="col">
            <label for="rangeEnd">DateTime Range End</label>
            <input id="rangeEnd" type="datetime-local" class="form-control" placeholder="2020-12-31T00:00"
                   name="rangeEnd">
        </div>
    </div>
    -->

    <button type="submit" class="btn btn-success">Search</button>
</form>

{% endblock %}